@model ControleDeEstoqueWeb.Models.ClienteModel
<form asp-action="InserirCliente">
    <br />
    <div class="container border p-3 ">
        <h1 class="text-primary">Cadastrar Cliente</h1>
        <hr />
        <div class="row">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="col-2">
                <label asp-for="Name" class="control-label pt-2" style="font-size:20px;">Nome do Cliente</label>
            </div>
            <div class="col-10 pb-3">
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="col-2">
                <label asp-for="CpfCnpj" class="control-label pt-2" style="font-size:20px;">CPF ou CNPJ</label>
            </div>
            <div class="col-10 pb-3">
                <input asp-for="CpfCnpj" class="form-control" />
                <span asp-validation-for="CpfCnpj" class="text-danger"></span>
            </div>
            <div class="col-2">
                <label asp-for="Rg" class="control-label pt-2" style="font-size:20px;">RG</label>
            </div>
            <div class="col-10 pb-3">
                <input asp-for="Rg" class="form-control" />
                <span asp-validation-for="Rg" class="text-danger"></span>
            </div>
            <div class="col-2">
                <label asp-for="Rua" class="control-label pt-2" style="font-size:20px;"></label>
            </div>
            <div class="col-10 pb-3">
                <input asp-for="Rua" class="form-control" />
                <span asp-validation-for="Rua" class="text-danger"></span>
            </div>
            <div class="col-2">
                <label asp-for="Numero" class="control-label pt-2" style="font-size:20px;">Número</label>
            </div>
            <div class="col-10 pb-3">
                <input asp-for="Numero" class="form-control" />
                <span asp-validation-for="Numero" class="text-danger"></span>
            </div>
            <div class="col-2">
                <label asp-for="Bairro" class="control-label pt-2" style="font-size:20px;"></label>
            </div>
            <div class="col-10 pb-3">
                <input asp-for="Bairro" class="form-control" />
                <span asp-validation-for="Bairro" class="text-danger"></span>
            </div>
            <div class="col-2">
                <label asp-for="Cidade" class="control-label pt-2" style="font-size:20px;"></label>
            </div>
            <div class="col-10 pb-3">
                <input asp-for="Cidade" class="form-control" />
                <span asp-validation-for="Cidade" class="text-danger"></span>
            </div>
            <div class="col-2">
                <label asp-for="Estado" class="control-label pt-2" style="font-size:20px;"></label>
            </div>
            <div class="col-10 pb-3">
                <input asp-for="Estado" class="form-control" />
                <span asp-validation-for="Estado" class="text-danger"></span>
            </div>
            <div class="col-2">
                <label asp-for="Pais" class="control-label pt-2" style="font-size:20px;">País</label>
            </div>
            <div class="col-10 pb-3">
                <input asp-for="Pais" class="form-control" />
                <span asp-validation-for="Pais" class="text-danger"></span>
            </div>
            <div class="col-2">
                <label asp-for="Telefone" class="control-label pt-2" style="font-size:20px;"></label>
            </div>
            <div class="col-10 pb-3">
                <input asp-for="Telefone" class="form-control" />
                <span asp-validation-for="Telefone" class="text-danger"></span>
            </div>
            <div class="col-5 offset-2">
                <a asp-action="Index" class="btn-primary btn form-control">Voltar para Lista</a>
            </div>
            <div class="col-5">
                <input type="submit" value="Cadastrar" class="btn btn-success form-control" />
            </div>
        </div>
    </div>
</form>
@section Scripts{
    <partial name="_ValidationScriptsPartial" />
}
