@{
    ViewData["Title"] = "Sobre a LPM";
}
<h1>@ViewData["Title"]</h1>

<p>A LPM foi criada no segundo semestre de 2020 por 3 estudantes de SI(Sistemas de Informação), ela e composta de 3 integrantes apaixonados por tecnologia, e que busca facilitar os processos das empresas através de desenvolvimento web, desktop e APK.</p>
