@model ControleDeEstoqueWeb.Models.VendasModel
<form asp-action="InserirVenda">
    <br />
    <div class="container border p-3 ">
        <h1 class="text-primary">Cadastrar Venda</h1>
        <hr />
        <div class="row">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="col-2">
                <label asp-for="DataVenda" class="control-label pt-2" style="font-size:20px;"></label>
            </div>
            <div class="col-10 pb-3">
                <input asp-for="DataVenda" class="form-control" />
                <span asp-validation-for="DataVenda" class="text-danger"></span>
            </div>
            <div class="col-2">
                <label asp-for="NomeCliente" class="control-label pt-2" style="font-size:20px;"></label>
            </div>
            <div class="col-10 pb-3">
                <input asp-for="NomeCliente" class="form-control" />
                <span asp-validation-for="NomeCliente" class="text-danger"></span>
            </div>
            <div class="col-2">
                <label asp-for="Valor" class="control-label pt-2" style="font-size:20px;"></label>
            </div>
            <div class="col-10 pb-3">
                <input asp-for="Valor" class="form-control" />
                <span asp-validation-for="Valor" class="text-danger"></span>
            </div>
            <div class="col-2">
                <label asp-for="IdProduto" class="control-label pt-2" style="font-size:20px;">Produto</label>
            </div>
            <div class="col-10 pb-3">
                <select class="col-12 pb-3" asp-for="IdProduto" asp-items="@ViewBag.Produtos">
                    <option>Por favor selecione: </option>
                </select>
            </div>
            @* <div class="col-10 pb-3">
            <div hidden>@Html.EditorFor(model => model.Produto, new { htmlAttributes = new { @class = "form-control", id = "produto" } })</div>
            @Html.DropDownList("select", ViewBag.Produtos as SelectList, new { @id = "produto_drop_down", @class = "col-12 pb-3" })
            @Html.ValidationMessageFor(model => model.Id, "", new { @class = "text-danger" })
            </div> *@
            <div class="col-2">
                <label asp-for="Quantidade" class="control-label pt-2" style="font-size:20px;"></label>
            </div>
            <div class="col-10 pb-3">
                <input asp-for="Quantidade" class="form-control" />
                <span asp-validation-for="Quantidade" class="text-danger"></span>
            </div>
            <div class="col-5 offset-2">
                <a asp-action="Index" class="btn-primary btn form-control">Voltar para Lista</a>
            </div>
            <div class="col-5">
                <input type="submit" value="Cadastrar" class="btn btn-success form-control" />
            </div>
        </div>
    </div>
</form>
@section Scripts{
    <partial DataVenda="_ValidationScriptsPartial" />
}
