@model ControleDeEstoqueWeb.Models.VendasModel
<form asp-action="AtualizarVenda">
    <br />
    <div class="container border p-3 ">
        <h1 class="text-primary">Atualizar Venda</h1>
        <hr />
        <div class="row">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="col-2">
                <label asp-for="data_venda" class="control-label pt-2" style="font-size:20px;"></label>
            </div>
            <div class="col-10 pb-3">
                <input asp-for="data_venda" class="form-control" />
                <span asp-validation-for="data_venda" class="text-danger"></span>
            </div>
            <div class="col-2">
                <label asp-for="valor" class="control-label pt-2" style="font-size:20px;"></label>
            </div>
            <div class="col-10 pb-3">
                <input asp-for="valor" class="form-control" />
                <span asp-validation-for="valor" class="text-danger"></span>
            </div>
            <div class="col-2">
                <label asp-for="produto" class="control-label pt-2" style="font-size:20px;"></label>
            </div>
            <div class="col-10 pb-3">
                <input asp-for="produto" class="form-control" />
                <span asp-validation-for="produto" class="text-danger"></span>
            </div>
            <div class="col-2">
                <label asp-for="quantidade" class="control-label pt-2" style="font-size:20px;"></label>
            </div>
            <div class="col-10 pb-3">
                <input asp-for="quantidade" class="form-control" />
                <span asp-validation-for="quantidade" class="text-danger"></span>
            </div>
            <div class="col-5 offset-2">
                <a asp-action="Index" class="btn-primary btn form-control">Voltar para Lista</a>
            </div>
            <div class="col-5">
                <input type="submit" value="Atualizar" class="btn btn-success form-control" />
            </div>
        </div>
    </div>
</form>
@section Scripts{
    <partial data_venda="_ValidationScriptsPartial" />
}
